*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(/assets/img/bgHeader.png);
    height: 82.5vh;
    background-position-x: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1{
    margin-top: -50px;
    color: #fe8e49;
    font-size: 85px;
}
.parrafoArriba{
    font-size: 35px;
    margin-bottom: 20px;
}
.boton1{
    margin-top: 100px;
    font-size: 20px;
    background-color: #fe8e49;
    color: white;
    border-radius: 300px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padreSegundo{
    display: flex;
}

.izqSegundo{
    width: 50%;
    padding-left: 250px;
    padding-right: 10px;
    padding-top: 150px;
}

.dereSegundo{
    width: 50%;
    padding-top: 150px;
    padding-left: 100px;
}

h2{
    color: #ff9958;
    font-size: 45px;
    padding-bottom: 35px;
}

.parrafo2{
    font-size: 20px;
    margin-right: 130px;
    padding-bottom: 35px;
}

.boton2{
    font-size: 20px;
    background-color: #fe8e49;
    color: white;
    border-radius: 300px;
    padding: 10px 30px;
}

.padreTercero{
    display: flex;
    padding-bottom: 100px;
}

.padreCuarto{
    background-image: url(/assets/img/bgDown.png);
    height: 60vh;
    background-position-x: 50%;
    display: flex;
}

.dereCuarto{
    width: 50%;
    padding-left: 250px;
    padding-right: 10px;
    padding-top: 150px;
}

h4{
    color: #ff9958;
    font-size: 45px;
    padding-bottom: 35px;
}

.parrafo4{
    font-size: 20px;
    margin-right: 130px;
    padding-bottom: 25px;
}

.boton4{
    font-size: 20px;
    background-color: #fe8e49;
    color: white;
    border-radius: 300px;
    padding: 10px 30px;
}



.sectionLis{
    background-color: #fe8e49;
    color: white;
    padding: 40px 20px;
    padding: 80px 300px 50px 300px;


}

.listF{
    display: flex;
    justify-content: space-between;
    
}

ul{
    list-style: none;
}


h5{
    margin-bottom: 30px;
    
    font-size: 20px;;
}


footer{
    background-color: #fe8e49;
    color: aliceblue;
    text-align: center;
    padding: 30px 0px 30px 0px;
    border-top: 5px solid #000;
    box-shadow: 0 4px 80px #a84406;
    border: 5px solid transparent;
  
}

@media (max-width: 1279px){
    header{
        height: 58vh;
    }
    
    .izqSegundo{
        padding-left: 50px;
        padding-top: 100px;
    }

    .dereSegundo {
        padding-top: 100px;
        padding-left: 20px;
    }

    h2{
        font-size: 34px;
    }

    .parrafo2{
        margin-right: 0px;
        font-size: 18px;
    }

    .boton2{
        font-size: 18px;
    }

    .dereCuarto{
        padding-left: 50px;
        padding-top: 100px;
    }

    h4{
        font-size: 34px;
    }

    .padreCuarto{
        height: 43vh;
    }

    .parrafo4{
        margin-right: 0px;
        font-size: 18px;
    }

    .boton4{
        font-size: 18px;
    }

    .dereSegundo img{
        width: 80%;
    }

    .izqSegundo img{
        width: 90%;
    }

    .sectionLis{
        padding: 80px 90px 50px 50px;
    }

    h5{
        font-size: 18px;
    }
}

@media (max-width: 920px){
    h1{
        font-size: 65px;
    }

    .parrafoArriba{
        font-size: 29px;
    }
}

@media (max-width: 768px){
    h1{
        font-size: 45px;
    }

    .parrafoArriba{
        font-size: 24px;
   }

   .boton1{
    font-size: 13px;
   }

   h2{
    font-size: 22px;
   }

   .parrafo2{
    font-size: 13px;
   }

   .boton2{
    font-size: 10px;
   }

   h4{
    font-size: 22px;
   }

   .parrafo4{
    font-size: 13px;
   }

   .boton4{
    font-size: 13px;
   }

   .padreCuarto{
    width: 100%;
   }

   h5{
    font-size: 18px;
   }

   ul{
    font-size: 13px;
   }
}

@media (max-width: 480px){
    h1{
        font-size: 35px;
        padding-bottom: 20px;
    }

    .parrafoArriba{
        font-size: 18px;
    }

    .boton1{
        font-size: 10px;
    }

    header{
        width: 100%;
    }
}